@charset "utf-8";

body {
    background-color: #8B5DC8;
    font-family: 'Karla', sans-serif;
}

h1 {
    background-image: url("../images/gradient.png");
    background-repeat: repeat-x;
    color: #59249E;
    font-family: 'Space Mono', monospace;
}

h2 {
    background-image: url("../images/gradient.png");
    background-repeat: repeat-x;
    color: #59249E;
    font-family: 'Karla', sans-serif;
}

a {
    color: #CEB5F0;
    text-decoration: none;
}

nav a {
    color: #59249E;
    padding-top:1em;
    padding-bottom:0.5em;
    margin-left:1em;
    margin-right:1em;
    border-top-width: 4px;
    border-style:solid;
    border-color:transparent;
    display: block;
}

nav ul {
    list-style: none;
    float:right;
}

nav li{
    float:left;
}

header nav {
    border-bottom: 1px dotted ;
    border-bottom-color: rgba(0, 0, 0, .3);
    margin-right:2em;
    margin-left:2em;
    margin-top:-4px;
    height:auto;
    border-width:auto;
    overflow: auto;
}

.byline {
    color: purple;
    color: rgba(128, 0, 128, 0.5);
    font-size: 70%;
}

#page-copyright {
    color: #CEB5F0;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.bio {
    text-indent: 3em;
}

footer {
    text-align: center;
    font-size: 12px;
    padding: 0 0 2em 0;
    margin-bottom: 2em;
}

ul {
    list-style-type: upper-roman;
}

.width-wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    background-color: #D833FF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    padding: 0 2em 0 2em;
    margin-bottom: 3em;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-top: none;
    
}

header nav ul {
    padding: 0;
    margin: 0;
}

figure img {
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(2, 0, 36);
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(121, 9, 117, 1) 55%, rgba(255, 0, 249, 1) 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

footer hr {
    min-width: 300px;
    width: 50vw;
    margin-top: 3em;
    margin-bottom: 2em;
    border-top: 3px solid purple;
    border-bottom: 8px dotted purple;
    border-left: none;
    border-right: none;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

* {
    box-sizing: border-box;
}

.mugshot{
    position: relative;
    float: right;
    top: -1em;
}
.paperclip{
    position: absolute;
    top:-10px;
    right:-7px;
    background-image: url("../images/paperclip.png");
    height:50px;
    width:50px;
    background-size: contain;   
}

.MyThreeFavorite {
    clear: right;
}

header {
    margin-right:-2em;
    margin-left:-2em;
    border-top: 4px solid;
    border-color: rgba(0, 0, 0, 0.1)
}

nav a:hover {
    border-top:4px solid red;
}

div .back-to-top {
    text-align: right;
    margin-right: -0.5em;
    opacity: 0.5;
}
.back-to-top a {
    position: fixed;
    bottom:3.5em;
}
div .back-to-top:hover {
    opacity: 1;
}

