@charset "utf-8";

body {
  background-color: #8B5DC8;
}

h1 {
  color: #59249E;
}
h2 {
  color: #59249E;
}

a {
  color: #CEB5F0;
}

nav a {
    color: #59249E;
}

.byline {
    color: purple;
    color: rgba(128,0,128,0.5);
}

#page-copyright {
    color: #CEB5F0;
}